.border-light {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.caps {
  text-transform: capitalize;
}

.notoppadding {
  padding-top: 0;
}

.nopadding {
  padding: 0;
}

.line-height-title {
  line-height: 1.5 !important;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.link-effect h1:hover {
  color: #23d160;
}

.center-it {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .mobile-bg-blog {
    padding: 1rem 0.75rem;
    background: whitesmoke !important;
  }
}
